<!DOCTYPE html>
<html lang = "pt-br">

<head>
	<title><%= title %></title>
    <%-include("partials/head.html")%>
</head>
<body>
	<%-include("partials/navbar.html")%>	
	<section id="section__01" class="section__structure">
		<div style="">
			<img src="/images/favicon.ico">
		</div>

		<code style="" class="text__container">
			<p>Regras da Toudy Coin:</p>

			<p>
				Toudy Coin é uma criptomoeda/token digital criada exclusivamente para uso no ambiente escolar, como jogos, rifas e outras atividades recreativas.

   			 	A Toudy Coin possui uma quantidade fixa de 20.000 unidades, garantindo sua escassez e valor dentro do ambiente escolar.

   				 Cada Toudy Coin equivale a 0,01 unidade da moeda local (real) e é lastreada nessa proporção. Isso significa que seu valor é vinculado ao valor de 0,01 real.

   				 A Toudy Coin possui 18 casas decimais, permitindo a divisão e transações de frações muito pequenas, garantindo flexibilidade nas transações.

   				 A posse e o uso da Toudy Coin são exclusivamente destinados a estudantes e membros da comunidade escolar, visando promover a participação e engajamento nas atividades do ambiente escolar.
	</p>
	      <p>
			A transferência da Toudy Coin entre usuários deve ser feita por meio de carteiras digitais seguras, que garantem a transparência e a integridade das transações.

   			 A emissão de novas Toudy Coins está estritamente limitada a 20.000 unidades e não haverá criação adicional no futuro.

   			 A Toudy Coin não possui valor legal fora do ambiente escolar e não pode ser trocada por dinheiro fiduciário em instituições financeiras ou casas de câmbio.

		        Os detentores da Toudy Coin têm o direito de participar de atividades específicas no ambiente escolar que aceitem essa criptomoeda como forma de pagamento ou troca.

			A Toudy Coin é uma ferramenta de incentivo e recompensa no ambiente escolar, projetada para promover a participação, a cooperação e a diversão em atividades educacionais e recreativas.

			A Toudy Coin é uma criptomoeda exclusiva para uso no contexto escolar, proporcionando aos estudantes uma maneira divertida e envolvente de participar de jogos, rifas e outras atividades dentro da comunidade escolar.
			Com sua quantidade limitada, lastro no real e divisibilidade, a Toudy Coin busca incentivar o envolvimento dos alunos, promovendo a interação e recompensando o esforço e a participação ativa.
		</p>
		</code>
	</section>
	<section class="section__divider--secundary-color"></section>
	<section id="section__02" class="section__structure">
		<span class="section__title"> Donate 💵 </span>
		<div>
		<img src="/images/qrcode.png">
		</div>
		<span style="color:white; text-decoration:underline; font-size:2em;">
		<span style="max-width:300px; font-size:0.6em">monero:47rxzcyspav3Air5d587G49JthQrBetHD8ynJWi7ytjLJi73okPx2DQ8k3YZQg9N3yH2ArD3dmhGtWoJsb2hj1h27d3WxML</span>
		</span>
		
	</section>
</body>
</html>
