<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= title %></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">MAMON'S HOUSE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signin">Sign in</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="/images/favicon.ico" alt="..." style="width:150px;" />
                <h1 class="text-white fs-3 fw-bolder">Toudy Coin</h1>
                <p class="text-white-50 mb-0">Regras do Token:</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>O que é?</h2>
                        <p class="lead">
                          Toudy Coin é uma criptomoeda/token digital criada exclusivamente para uso no ambiente escolar, como jogos, rifas e outras atividades recreativas.

                            A Toudy Coin possui uma quantidade fixa de 20.000 unidades, garantindo sua escassez e valor dentro do ambiente escolar.

                             Cada Toudy Coin equivale a 0,01 unidade da moeda local (real) e é lastreada nessa proporção. Isso significa que seu valor é vinculado ao valor de 0,01 real.

                             A Toudy Coin possui 18 casas decimais, permitindo a divisão e transações de frações muito pequenas, garantindo flexibilidade nas transações.

                             A posse e o uso da Toudy Coin são exclusivamente destinados a estudantes e membros da comunidade escolar, visando promover a participação e engajamento nas atividades do ambiente escolar.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Funcionamento</h2>
                        <p class="lead">
                          A transferência da Toudy Coin entre usuários deve ser feita por meio de carteiras digitais seguras, que garantem a transparência e a integridade das transações.

                             A emissão de novas Toudy Coins está estritamente limitada a 20.000 unidades e não haverá criação adicional no futuro.

                             A Toudy Coin não possui valor legal fora do ambiente escolar e não pode ser trocada por dinheiro fiduciário em instituições financeiras ou casas de câmbio.

                                Os detentores da Toudy Coin têm o direito de participar de atividades específicas no ambiente escolar que aceitem essa criptomoeda como forma de pagamento ou troca.

                          A Toudy Coin é uma ferramenta de incentivo e recompensa no ambiente escolar, projetada para promover a participação, a cooperação e a diversão em atividades educacionais e recreativas.

                          A Toudy Coin é uma criptomoeda exclusiva para uso no contexto escolar, proporcionando aos estudantes uma maneira divertida e envolvente de participar de jogos, rifas e outras atividades dentro da comunidade escolar.
                          Com sua quantidade limitada, lastro no real e divisibilidade, a Toudy Coin busca incentivar o envolvimento dos alunos, promovendo a interação e recompensando o esforço e a participação ativa.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  MAMON'S HOUSE 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
