.cadastro-cabecalho {
    position: relative;
    align-items: left;
    padding-top: 0.5rem;
    padding-right: 110rem;
    width: 10px;
    height: 60px;
}

.cadastro-cabecalho__logo {
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: -3rem;
    margin-top: 0.5rem;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
}

@media(max-width: 1400px) {
    .cadastro-cabecalho__logo {
        width: 11rem;
        margin-bottom: 0.2rem;
        margin-left: 16rem;
    }

    .cadastro-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}