    /* navbar customization */
    .space__items{
      margin: 0 2.5px;
    }
    #nav__logo{
      font-size: 2em;
      font-family: 'Lato', sans-serif !important;
      font-weight: 700;
      font-style:italic;
      margin:0 40px;
    }
    #nav__logo img{
	max-width:2.5rem;
    } 
    nav{
      background-color:#978225;
      width: 100%;
      height: 8vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color:#FFCC33;
      align-items: center;
      position: fixed;
      font-family: "Poppins";
      z-index: 50;
      overflow:hidden;
    }

    .nav__link--underline{
      background: linear-gradient(currentColor 0 0) 
      bottom left/
      var(--underline-width, 0%) 0.1em
      no-repeat; 
      display: inline-block;
      padding: 0 .5em 0.2em;
      text-decoration: none;
      transition: background-size 0.5s;
    }
    .nav__link--underline:hover{
      --underline-width: 90%;
    }

    #nav__link--signup{
      color:rgb(176, 154, 107);;
      border: 2px solid rgb(176, 154, 107);
      padding:0 10px;
      border-radius:6px;
    }

    #nav__link--signup:hover{
      color:white;
      border: 2px solid rgb(176, 154, 107);
      background-color: rgb(176, 154, 107);
      transition: 0.5s;
    }


